@{
    ViewData["Title"] = "Đổi Mật Khẩu | Topder";
    Layout = "CustomerLayout";
}

    @if (ViewBag.IsLogin == true)
    {
        <partial name="/Views/Shared/HeaderCustomer.cshtml"/>
    }
    else
    {
        <partial name="/Views/Shared/HeaderGuest.cshtml"/>
    }

    <!--=============================
        BREADCRUMB START
    ==============================-->
    <section class="page_breadcrumb" style="background: url(/Images/topder/1900x1000.png);">
        <div class="breadcrumb_overlay">
            <div class="container">
                <div class="breadcrumb_text">
                    <h1>Đổi Mật Khẩu</h1>
                    <ul>
                        <li><a href="/customer/home">Trang Chủ</a></li>
                        <li><a href="#">Đổi Mật Khẩu</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--=============================
        BREADCRUMB END
    ==============================-->


    <!--=========================
        DASHBOARD START
    ==========================-->
    <section class="dashboard mt_100 xs_mt_70 mb_100 xs_mb_70">
        <div class="container">
            <div class="dashboard_area">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 wow fadeInUp" data-wow-duration="1s">
                        <div class="dashboard_menu">
                            <div class="dasboard_header">
                                <div class="dasboard_header_img">
                                    @if(ViewBag.Customer.Image == null){
                                        <img src="" alt="user" class="img-fluid w-100">
                                    }
                                    @if(ViewBag.Customer.Image != null){
                                        <img src="@ViewBag.Customer.Image" alt="user" class="img-fluid w-100">
                                    }
                                </div>
                                <h2>@ViewBag.Customer.Name</h2>
                            </div>
                            <ul>
                                <li><a href="/customer/profile"><span><i class="fas fa-user"></i></span>
                                        Thông tin cá nhân</a></li>
                                <li><a href="/customer/orderhistory"><span><i class="fas fa-bags-shopping"></i></span>
                                        Lịch Sử Đặt Bàn</a></li>
                                <li><a href="/customer/wishlist"><span><i class="far fa-heart"></i></span>
                                        wishlist</a></li>
                                <li><a href="/customer/reviews"><span><i class="fas fa-star"></i></span> Đánh giá</a>
                                </li>
                                <li><a class="active" href="/customer/changespassword"><span><i
                                                class="fas fa-user-lock"></i></span> Đổi Mật Khẩu</a></li>
                                <li><a href="/customer/logout"><span> <i class="fas fa-sign-out-alt"></i></span> Đăng Xuất</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8 wow fadeInUp" data-wow-duration="1s">
                        <div class="dashboard_content">
                            <div class="dashboard_body change_password">
                                <div class="review_input">
                                    <h3>Đổi Mật Khẩu</h3>
                                @if(ViewBag.ChangesPasswordSuccess != null)
                                {
                                    <p class="text-success">@ViewBag.ChangesPasswordSuccess</p>
                                }
                                <div class="comment_input pt-0 mb-0">
                                        <form asp-action="ChangesPassword" method="post">
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="comment_imput_single">
                                                        <label>Mật Khẩu Mới</label>
                                                        <input type="password" placeholder="Mật Khẩu Mới" name="newpassword">
                                                    @if(ViewBag.PasswordError != null)
                                                    {
                                                        <p class="text-danger">@ViewBag.PasswordError</p>
                                                    }
                                                </div>
                                                </div>
                                                <div class="col-xl-12">
                                                    <div class="comment_imput_single">
                                                        <label>Xác Nhận Mật Khẩu Mới</label>
                                                        <input type="password" placeholder="Xác Nhận Mật Khẩu Mới" name="renewpassword">
                                                        @if(ViewBag.RepasswordError != null)
                                                    {
                                                        <p class="text-danger">@ViewBag.RepasswordError</p>
                                                    }
                                                    </div>
                                                    <button type="submit" class="common_btn mt_20">Xác Nhận</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=========================
        DASHBOARD END 
    ==========================-->